<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  
  <py:def function="page_title">Home</py:def>
  <py:def function="page_specific_css">
    <link rel="stylesheet" href="http://weavinghistory.org/style/buttons.css" type="text/css" media="screen, projection" />
    <style>
      div.buttons {
        margin-top: 0.8em;
        margin-left: 2em;
      }
      div.buttons a {
        margin-top: 0.8em;
        margin-left: 0.8em;
        width: 220px;
        text-align: center;
      }
    </style>
  </py:def>

  <div py:match="content">
    <div class="buttons large">
      <p>
        <a href="${h.url_for(controller='work', action=None)}">Read texts</a>
        <a href="${h.url_for(controller='search', action='index')}">Search texts</a>
      </p>
      <p>
      <a href="${h.url_for(controller='multi', action='index')}">
              Compare texts side-by-side</a>
        <a href="${h.url_for(controller='stats', action='index')}">View statistics</a>
      </p>
    </div>

    <h3>Why Open Shakespeare</h3>
    <p>
    If you type 'Shakespeare' into Google you find thousands of websites why do we need another? First off, unlike most other sites, everything you find here is <a href="http://opendefinition.org/">open</a> &ndash; that is you're free to use, reuse, and redistribute it without any need to seek permission.</p>
    <p>
    However, more importantly, <strong>this website is only a small part of what we're about</strong>. It serves to demonstrate what you can do with the <a href="http://www.okfn.org/shakespeare/">Open Shakespeare package</a> &ndash; a set of material and tools for exploring Shakespeare's life and work. The website demonstrates a few of the ways in which the Open Shakespeare package can be used. <strong>We actively encourage you to take and modify it to do things we haven't yet done</strong> &ndash; or even thought of! Some suggestions:
    </p>
    <ul>
      <li>Line by line comparisons of different Shakespeare editions &ndash; scholars have spent years poring over the different Folios, now its your turn!</li>
      <li>Our statistics are crude and simple. Maybe you'd like to look at the average length of minor characters speeches in the comedies, or simply find the text in which love and death are mentioned the most.</li>
      <li>Produce your own critical edition: annotate and edit a play as you see fit not Arden!</li>
      <li>Search for secret messages that show that Shakespeare was really Ben Jonson (or even Walter Raleigh!) ... </li>
    </ul>
  </div>

  <xi:include href="layout.html" />
</html>
