<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/" 
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:doap="http://usefulinc.com/ns/doap"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  py:strip=""
  >
  <py:match path="head">
<head>
    ${select('*')}

  <style type="text/css">
    #page-title {
      background: transparent url(/img/shkspr_droeshout-60px.jpg) no-repeat top left;
      /* clear background image */
      padding: 0 0 0 50px;
      margin: 10px 0;
      height: 60px;
      line-height: 0.7;
    }

    #page-title img.logo {
      height: 80px;
      border: none;
      margin: 0;
      padding: 0;
      margin-top: -13px;
    }

    #page-title a {
      background-color: transparent;
    }
  </style>
</head>
  </py:match>

  <py:match path="h1">
    <h1 id="page-title">
      <a href="${h.url_for('home')}" title="${c.site_title} Home">
        <img src="/img/shkspr/open_shakespeare_logo.png" alt="Open Shakespeare - The Marriage of Text and Technology" class="logo" />
      </a>
      <div style="float: right;">
        <a href="http://www.okfn.org">
          <img
          src="http://assets.okfn.org/images/logo/logo_fullname_medium.png"
          style="height: 55px;" alt="Open Knowledge Foundation" />
        </a>
      </div>
    </h1>
  </py:match>

  <xi:include href="layout_base.html" />
</html>

